<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_1" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>isclite</display-name>
  <filter>
    <filter-name>WSCUrlFilter</filter-name>
    <filter-class>com.ibm.ws.console.core.servlet.WSCUrlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WSCUrlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    	<filter-name>SessionFilter</filter-name>
        <display-name>SessionFilter</display-name>
        <filter-class>com.ibm.isclite.servlet.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Trace_Tree_Cache_Init_Filter</filter-name>
        <filter-class>com.ibm.ws.console.probdetermination.trace.tree.TraceTreeCacheInit</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/j_security_check</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Trace_Tree_Cache_Init_Filter</filter-name>
        <servlet-name>Trace Tree Servlet</servlet-name>
    </filter-mapping>
  <listener>
    <listener-class>com.ibm.isclite.SessionListener</listener-class>
  </listener>
    <listener>
        <listener-class>com.ibm.ws.console.appmanagement.SessionListener</listener-class>
    </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/struts-config.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SecureCleanup</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.SecureCleanupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FederationServlet</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.FederationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileSelectionServlet</servlet-name>
    <servlet-class>com.ibm.ws.console.core.servlet.ProfileSelectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConsoleCSS</servlet-name>
    <jsp-file>secure/layouts/console_css.jsp</jsp-file>
  </servlet>
    <servlet>
        <servlet-name>EventInitializer</servlet-name>
        <servlet-class>com.ibm.ws.console.events.EventListenerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodeSyncStatus</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.NodeSyncStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynamicTreeServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.DynamicTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DojoServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.core.servlet.ArchiveServlet</servlet-class>
        <init-param>
            <param-name>archivePath</param-name>
            <param-value>/WEB-INF/dojo.zip</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddNodeListener</servlet-name>
        <servlet-class>com.ibm.ws.console.environment.topology.AddNodeListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNodeListener</servlet-name>
        <servlet-class>com.ibm.ws.console.environment.topology.RemoveNodeListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BLACreateStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.blamanagement.asset.BLACreateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BLAManagementStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.blamanagement.bla.BLAManagementStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CUStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.blamanagement.cu.CUStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Provides strings to render trace tree</description>
        <display-name>Trace Tree Servlet</display-name>
        <servlet-name>Trace Tree Servlet</servlet-name>
        <servlet-class>com.ibm.ws.console.probdetermination.trace.tree.AsynchTraceTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Log messages and nls for browser</description>
        <display-name>Trace Tree Log Servlet</display-name>
        <servlet-name>Trace Tree Log Servlet</servlet-name>
        <servlet-class>com.ibm.ws.console.probdetermination.trace.tree.BrowserLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIBStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.sib.sibresources.servlet.SIBStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSRMStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.rm.WSRMStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CIMPendingInstallServlet</display-name>
        <servlet-name>CIMPendingInstallServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.cim.pendinginstall.PendingInstallServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CIMInstallSshKeyStatusServlet</display-name>
        <servlet-name>CIMInstallSshKeyStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.cim.sshkeywizard.InstallSshKeyStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CIMInstallLogServlet</display-name>
        <servlet-name>CIMInstallLogServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.cim.installhistory.InstallLogServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Download xml export of classloader</description>
        <display-name>CLV File Down Load</display-name>
        <servlet-name>CLV File Down Load</servlet-name>
        <servlet-class>com.ibm.ws.console.classloader.SaveAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityReport</servlet-name>
        <jsp-file>com.ibm.ws.console.security/securityConfigReport.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StatusPollServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.servermanagement.applicationserver.StatusPollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppInstallStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.appmanagement.action.AppInstallStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClusterRolloutServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.appmanagement.servlets.ClusterRippleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppManagementStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.appmanagement.servlets.AppManagementStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppManagementPerServerStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.appmanagement.servlets.AppManagementPerServerStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>WASTaskServlet</display-name>
        <servlet-name>WASTaskServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.taskmanagement.servlet.WASTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>WASTargetMonitorServlet</display-name>
        <servlet-name>WASTargetMonitorServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.taskmanagement.servlet.WASTargetMonitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServicesStatusServlet</servlet-name>
        <servlet-class>com.ibm.ws.console.webservices.wsadmin.servlets.WebServicesStatusServlet</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>ConsoleCSS</servlet-name>
    <url-pattern>adminconsole.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecureCleanup</servlet-name>
    <url-pattern>/securecleanup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FederationServlet</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileSelectionServlet</servlet-name>
    <url-pattern>/profileSelection</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/secure/downloadFile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodeSyncStatus</servlet-name>
        <url-pattern>/nodesyncstat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicTreeServlet</servlet-name>
        <url-pattern>/dts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DojoServlet</servlet-name>
        <url-pattern>/dojo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNodeListener</servlet-name>
        <url-pattern>/addNodeListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNodeListener</servlet-name>
        <url-pattern>/removeNodeListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BLACreateStatusServlet</servlet-name>
        <url-pattern>/blacreatestat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BLAManagementStatusServlet</servlet-name>
        <url-pattern>/BLAManagementStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CUStatusServlet</servlet-name>
        <url-pattern>/CUStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trace Tree Servlet</servlet-name>
        <url-pattern>/getTraceStrings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trace Tree Log Servlet</servlet-name>
        <url-pattern>/traceLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIBStatusServlet</servlet-name>
        <url-pattern>/sibstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSRMStatusServlet</servlet-name>
        <url-pattern>/wsrmStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CIMPendingInstallServlet</servlet-name>
        <url-pattern>/cimpendinginstallstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CIMInstallSshKeyStatusServlet</servlet-name>
        <url-pattern>/ciminstallsshkeystatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CIMInstallLogServlet</servlet-name>
        <url-pattern>/cimviewlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLV File Down Load</servlet-name>
        <url-pattern>/downloadClassLoaderXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityReport</servlet-name>
        <url-pattern>com.ibm.ws.console.security/securityConfigReport.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusPollServlet</servlet-name>
        <url-pattern>/statuspoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppInstallStatusServlet</servlet-name>
        <url-pattern>/AppInstallStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClusterRolloutServlet</servlet-name>
        <url-pattern>/ClusterRollout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppManagementStatusServlet</servlet-name>
        <url-pattern>/AppManagementStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppManagementPerServerStatusServlet</servlet-name>
        <url-pattern>/AppManagementPerServerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WASTaskServlet</servlet-name>
        <url-pattern>/wastask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WASTargetMonitorServlet</servlet-name>
        <url-pattern>/wastargetmonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServicesStatusServlet</servlet-name>
        <url-pattern>/WebServicesStatus</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.do</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/logonError.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/generalError.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tiles.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/tiles.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>isc.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/isc.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
      <role-name>nobody</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
	
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/secure/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
      <role-name>nobody</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  	
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/servlet/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
      <role-name>nobody</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/html/isclite/images/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
      <role-name>nobody</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>*.do</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>operator</role-name>
      <role-name>configurator</role-name>
      <role-name>monitor</role-name>
      <role-name>nobody</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/nodesyncstat</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/status/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/dts/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/BLAManagementStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
            <role-name>nobody</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/BLACreateStatusServlet/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
            <role-name>nobody</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/CUStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
            <role-name>nobody</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/getTraceStrings</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/sibstatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>com.ibm.ws.console.security/securityConfigReport.jsp</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/statuspoll/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/ClusterRollout/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/AppInstallStatusServlet/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/AppManagementStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/AppManagementPerServerStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/wastask/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/wastargetmonitor/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/WebServicesStatus/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>operator</role-name>
            <role-name>configurator</role-name>
            <role-name>monitor</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>WEBAPP</realm-name>
    <form-login-config>
      <form-login-page>/logon.jsp</form-login-page>
      <form-error-page>/logonError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>Administrator role</description>
    <role-name>administrator</role-name>
  </security-role>
  <security-role>
    <description>Operator role</description>
    <role-name>operator</role-name>
  </security-role>
  <security-role>
    <description>Configurator role</description>
    <role-name>configurator</role-name>
  </security-role>
  <security-role>
    <description>Monitor role</description>
    <role-name>monitor</role-name>
  </security-role>
  <security-role>
    <description>Nobody role</description>
    <role-name>nobody</role-name>
  </security-role>
  <locale-encoding-mapping-list>
    <locale-encoding-mapping>
      <locale>en</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>fr</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>de</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>es</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>pt</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>it</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>ja</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>cs</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>hu</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>ko</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>pl</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>ro</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>ru</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>zh</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
    <locale-encoding-mapping>
      <locale>zh_TW</locale>
      <encoding>UTF-8</encoding>
    </locale-encoding-mapping>
  </locale-encoding-mapping-list>
</web-app>